* {
  margin: 0 !important;
}

body {
  color: rgb(201, 204, 207);
}

.student-page {
  background-color: #2a3f3c;
  height: 100vh;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px !important;
}

.subjects {
  display: flex;
  flex-direction: column;
}

.subjectBtn {
  margin: 15px !important;
}

.requestFormPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tutorCard {
  border: #2a3f3c solid;
  padding: 10px;
  background-color: aliceblue;
  color: #2a3f3c;
  list-style: none;
}