* {
  margin: 0 !important;
}

body {
  color: rgb(201, 204, 207);
}

.student-page {
  background-color: #2a3f3c;
  height: 100vh;
  font-family: 'Asap Condensed', sans-serif;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px !important;
}

.subjects {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdownSubject {
  font-size: large;
  font-weight: bold;
  border-bottom: 1px solid;
  text-align: left;
}

.subjectBtn {
  margin: 5px !important;
}

.tutorCard {
  border: #2a3f3c solid;
  padding: 15px;
  background-color: aliceblue;
  color: #2a3f3c;
  list-style: none;
  max-width: 20%;
}

.modal {
  display: flex;
  align-items: center;
}