* {
  margin: 0 !important;
}

body {
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #d5cfca;
}

.student-header{
  display: inline-block
}

.student-page {
  background-color:#d5cfca;
  height: 100vh;
  font-family: 'Asap Condensed', sans-serif;
}

.links {
  width: 100%;
  height: 5rem;
  font-size: .7em;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px !important;
}

.subjects {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subjectBtn {
  margin: 5px !important;
}

.tutorCard {
  border: #2a3f3c solid;
  padding: 15px;
  background-color: aliceblue;
  color: #2a3f3c;
  list-style: none;
}

.links button{
  border-radius: 5px;
  font-family: 'Asap Condensed', sans-serif;
  margin: 5px !important;
  background-color: #d5cfca;
  color: black;
  font-size: large;
  border: solid 1px #393939;
}

.links button:hover{
  background-color:#222c2b;
}
