.tutor-page{
    padding-top: 8vh;
    text-align: center;
    background-color: #645448;
    height: 100vh;
    color: #d5cfca;
    font-family: 'Asap Condensed', sans-serif;
}

.tutor-page button {
  border-radius: 5px;
  font-family: 'Asap Condensed', sans-serif;
  margin: 5px !important;
  background-color: #d5cfca;
  color: black;
  font-size: large;
  border: solid 1px #393939;
  }
  
  .tutor-page button:hover{
    cursor: pointer;
    translate: 1px;
  }