.tutor-page{
    padding-top: 8vh;
    text-align: center;
    background-color: #645448;
    height: 100vh;
    color: #B7B1AD;
    font-family: 'Asap Condensed', sans-serif;
}

.tutor-page button {
    width: fit-content;
    border-radius: 5px;
    font-family: 'Asap Condensed', sans-serif;
    margin: 5px  !important;
    background-color: #B7B1AD;
    color: #67261c;
    font-size: large;
  }
  
  .tutor-page button:hover{
    cursor: pointer;
    translate: 1px;
  }