.header{
    text-align: center;
    background-color: #67261c;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    color: white;
    font-size: 2rem;
    height: 30vh;
    padding-top: 2vh;
    text-align: center;
    font-family: 'Yeseva One', cursive;
}

.header h1{
    padding-top: 4vh;
    margin-left: auto;
    margin-right: auto;
}


.home-button{
    cursor:pointer;
}